body{
  background-image: url("../images/fondo.jpg");
  background-size: cover;
  margin: 0;
}

.contenedor{
  width: 1000px;
  height: 1600px;
  margin: 0 auto;
  background-image: url("../images/images.jpg");
  background-size: cover;
}

header{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

header h2{
  color: #fff;
}

.seccion_menu{
  margin-top: 30px;
}

nav li {
  list-style: none;
  color: #fff;
  border: solid #3B83BD;
  border-radius: 6px;
  padding: 7px;
  background-color: #354D73;
  margin-right: 5px;
}

nav{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.portada{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #fff;
  background-image: url("../images/pyp.jpg");
  background-size: cover;
  height: 399px;
}

.titulo_central{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}

.titulo_noticias{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}

.titulo_noticias h2{
  color: #fff;
}

.titulo_central h2{
  color: #fff;
  font-size: 25px;
}

.imagen_noticias img{
  margin-left: 200px;
  border-style: groove;
}

.descripcion p{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
}
